fastapi
uvicorn
httpx
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
aiokafka
# Observability
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
opentelemetry-exporter-jaeger
prometheus-client
prometheus-fastapi-instrumentator
python-json-logger
deprecated
python-multipart
# Testing
pytest
boto3>=1.28.0
